body {
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: default;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 130px;
    width: auto;
}

a {
    text-decoration: none;
    color: black;
}


.Header {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: -2px 3px 5px rgba(77, 78, 79, 0.2);
}
.title {
    margin: 1%;
    margin-bottom: 2%;
    padding-left: 5%;
    font-size: 55px;
    color: white;
    font-family: 'Lobster', cursive;
}

.form-input{
    margin-top: 4%;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 15px;
}

.submit-btn {
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: dimgrey;
    cursor: pointer;
}

.ArtistName {
    font-size: 60px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    font-family: 'Prata', serif;
}
.border {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.album-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 3%;
}

.album-box {
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 43% 50%;
}
.small {
    font-size: 13px;
}
